/* Define font-family variables */
:root {
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Base font */
body {
  font-family: var(--font-family-base);
}

/* Headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
}
